<h1>URL Shortener Microservice for FreeCodeCamp</h1>

<h3>Example usage:</h3>
<p>
	<a href="{{app_url}}/new/https://www.facebook.com" target="_blank">
		{{app_url}}/new/https://www.facebook.com
	</a>
</p>

<h3>Example output:</h3>
<p>{"original_url":"https://www.facebook.com","new_url":"{{app_url}}/56cce5c59baad9093c181bf8"}</p>